<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Microsoft.ServiceBus.ConnectionString"
			 value="Endpoint=sb://productmicroservice.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ZQEfHdIlphqu2VVEs95I8gRra5sSqkONf/fvhmgchtE="></add>
		<add key="BookStoreQueue" value="bookstorequeue"/>
	</appSettings>
</configuration>
